<div style="border: 5px solid green; text-align: center; margin-bottom: 10px;">
<h1 style="background: green; font-weight: bold;">
SUPPORT CENTRE UPDATE
</h1>
<p style="margin: 10px">
The support centre will be opening again on Fridays from the 23rd of April. Find us at Blackhorse Road Baptist Church Hall from 10:00am.
</p>
</div>

<div style="border: 5px solid red; text-align: center; padding: 15px; margin-bottom: 10px;">
  For information on how you can support migrants during the pandemic, read the
  <a href="https://docs.google.com/document/d/11cKMCy08ebN-lJQsP1jvsTcSfwC6YeE8FYrmAZCoZ1w/edit" target="_blank">Covid-19 Mutual Aid UK: Guide for Supporting Migrants During Coronavirus</a>.
</div>
