<div style="border: 5px solid red; text-align: center; margin-bottom: 10px;">
<h1 style="background: red; font-weight: bold;">
CORONAVIRUS UPDATE
</h1>
<p style="margin: 10px">
  The WFMA Migrant support centre is CLOSED due to the Coronavirus.
</p>
<p style="margin: 10px">
  We are in the process of setting up a remote service.
</p>
<p style="margin: 10px">
<strong>If you need help, please text your full name to 07496394175</strong>, and one of our volunteers will ring you back.
</p>
<p>
Please do not call this number as there is no-one to answer it.
</p>
</div>

<div style="border: 5px solid red; text-align: center; padding: 15px; margin-bottom: 10px;">
  For information on how you can support migrants during the pandemic, read the
  <a href="https://docs.google.com/document/d/11cKMCy08ebN-lJQsP1jvsTcSfwC6YeE8FYrmAZCoZ1w/edit" target="_blank">Covid-19 Mutual Aid UK: Guide for Supporting Migrants During Coronavirus</a>.
</div>
