<div style="border: 5px solid green; text-align: center; padding: 15px; margin-bottom: 10px;">
  <pre>
PLEASE SHARE 
📩 A message from the Stay Safe WF team: 

❗Reminder – anyone over 18 can now go and get their vaccine❗

📍 Walthamstow Library: 
Pfizer: Thur, Fri, Sat 
AstraZeneca: Wed 

📍 Chingford Leisure Centre: 
AstraZeneca: Wed 
Pfizer: Thur, Fri, Sat, Sun

📍 Jubilee Centre, Leytonstone: 
Pfizer: Thur 

📍 Leytonstone Library: 
AstraZeneca: Thur 

✅ Book your space for your first or second dose - <a href="https://bit.ly/3vBpaIe">https://bit.ly/3vBpaIe</a> ✅
  </pre>
</div>

<div style="border: 5px solid red; text-align: center; padding: 15px; margin-bottom: 10px;">
  For information on how you can support migrants during the pandemic, read the
  <a href="https://docs.google.com/document/d/11cKMCy08ebN-lJQsP1jvsTcSfwC6YeE8FYrmAZCoZ1w/edit" target="_blank">Covid-19 Mutual Aid UK: Guide for Supporting Migrants During Coronavirus</a>.
</div>

